veryinf/MicroBuilder/source/Conf/define.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.microbuilder.cn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="addon">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string" />
                <xs:element name="name" type="xs:string" />
                <xs:element name="version" type="xs:string" />
                <xs:element name="require" type="xs:string" />
                <xs:element name="type" type="xs:string" />
                <xs:element name="description" type="xs:string" />
                <xs:element name="author" type="xs:string" />
                <xs:element name="url" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>